.inner{padding:0 0 11px;}
.input-holder{
        position:relative;
        float:left;
        width:450px;
        margin:0 13px 0 0;
}
.input-holder input,
.input-holder textarea{
        padding:11px;
        margin:0;
        background:none;
        border:1px solid #959595;
        font-size:13px;
        line-height:18px;
        color:#959595;
        width:100%;
}
.input-holder .text-active{color:#000;}
.input-holder textarea{
        width:450px;
        height:200px;
        padding-right:0;
        overflow:auto;
        resize:none;
}
.input-holder input.focus,
.input-holder textarea.focus{
        outline:1px solid #fff100;
        box-shadow:1px 1px #fff100 inset, -1px -1px #fff100 inset;
        -webkit-box-shadow:1px 1px #fff100 inset, -1px -1px #fff100 inset;
}
.input-placeholder-text{
        position:absolute;
        top:12px;
        left:12px;
}
.link{
        float:left;
        font-size:14px;
        line-height:18px;
        color:#0f0f0f;
        font-weight:bold;
        text-decoration:underline;
        margin:10px 0 0;
}
.link:hover{text-decoration:none;}
.login-holder{padding:2px 0 22px;}
.btn-login{
        margin:0 22px 0 0;
        width:100px;
        background:#0f0f0f;
        color:#fff100;
        float:left;
        font-size:18px;
        line-height:30px;
        height:30px;
}
.jcf-hidden{
        display: block !important;
        position: absolute !important;
        left: -9999px !important;
}
.chk-area{
        background:url('sprite.png') -313px -26px;
        width:25px;
        height:24px;
        float:left;
        margin:3px 8px 0 0;
}
.chk-checked{background-position:-313px 0;}
.checkbox-label{
        float:left;
        color:#555;
        font-size:14px;
        font-weight:normal;
        margin:5px 0 0;
        line-height:17px;
}
.social-holder{
        border-top:1px solid #959595;
        padding:26px 0 0;
        margin:0 1px;
}
.btn-facebook{
        display:block;
        background:url('btn-facebook.png');
        width:247px;
        height:42px;
        text-indent:-9999px;
        overflow:hidden;
}
