<%# coding: UTF-8 -%>
<form method="post" action="<%= @form_action || "login" %>" id="login-form"
      onsubmit="submitbutton = document.getElementById('login-submit'); submitbutton.value='<%= t.notice.please_wait %>'; submitbutton.disabled=true; return true;">
  <fieldset>
    <div class="inner">
      <div class="input-holder"><input id="username" name="username" accesskey="u" type="email" placeholder="Username or Email"/></div>
    </div>
    <div class="inner">
      <div class="input-holder"><input id="password" name="password" accesskey="p" autocomplete="off" type="password" placeholder="Password"/></div>
      <a href="#" class="link">Forgot Password</a>
    </div>
    <div class="inner login-holder">
      <input type="hidden" id="lt" name="lt" value="<%= escape_html @lt %>" />
      <input type="hidden" id="service" name="service" value="<%= escape_html @service %>" />

      <input type="submit" value="LOGIN" class="button" accesskey="l" class="btn btn-login" id="login-submit" />
      <input type="checkbox" id="keep" checked="checked"/>
      <label class="checkbox-label" for="keep">Keep me logged in</label>
    </div>
    <div class="social-holder">
      <a href="#" class="btn-facebook">Login using Facebook</a>
    </div>
  </fieldset>
</form>